/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f4f4f9;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Header styles */
header {
    background-color: white;
    color: black;
    padding: 5px 10px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    flex-wrap: wrap; /* Allow items to wrap for smaller screens */
}

.logo {
    font-size: 18px; /* Smaller logo size */
    font-weight: bold;
    flex-shrink: 0; /* Prevent shrinking */
}

.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow items to wrap for smaller screens */
}

.navigation li {
    margin: 5px; /* Add some margin for spacing */
}

.navigation li a,
.navigation select,
.search-bar {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    background: none;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    vertical-align: middle;
}

.navigation li a.active {
    background-color: #014CEC;
    color: white;
    border-radius: 4px;
}

.navigation li a:hover {
    color: black;
}

.search-bar {
    padding: 5px;
    font-size: 14px; /* Smaller search bar size */
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100px; /* Ensure it fits within the viewport */
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    color: black;
}

.search-button i {
    font-size: 15px;
}

/* Crypto prices styles */
.crypto-prices {
    padding: 10px;
    background-color: white;
}

/* Featured airdrops styles */
.featured-airdrops {
    padding: 15px;
    background-color: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prev-arrow, .next-arrow {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
    font-size: 18px;
    border-radius: 50%;
}

.prev-arrow {
    position: absolute;
    left: 10px;
}

.next-arrow {
    position: absolute;
    right: 10px;
}

.scrolling-wrapper {
    display: flex;
    overflow: hidden; /* Prevent horizontal scrolling */
    width: 80%; /* Adjust width to fit within the container */
    position: relative;
}

.featured-airdrop {
    min-width: 100%; /* Display one image at a time */
    max-width: 100%; /* Ensure it takes up the full width */
    height: 200px; /* Set a fixed height, adjust as needed */
    margin: 0 5px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    flex-shrink: 0; /* Prevent shrinking */
}

/* Adjust the image to fit within the container */
.featured-airdrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .featured-airdrop {
        height: 150px; /* Adjust height for smaller screens */
    }
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

@keyframes scroll-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Main content styles */
.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    flex: 1;
}

.airdrop-category {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.airdrop-list {
    margin-top: 20px;
}

.airdrop {
    background-color: rgb(117, 197, 224);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}

.airdrop-details {
    flex-grow: 1;
}

.airdrop img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.airdrop h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 1rem;
}

.airdrop p {
    margin: 2px 0;
    font-size: 0.875rem;
}

.claim-button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

.claim-button:hover
{
    background-color: #ffdb4d;
}

.ca-claim-button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.ca-claim-button:hover {
    background-color: rgb(22, 185, 22);
}

.oa-claim-button {
    background-color: #014CEC;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.oa-claim-button:hover {
    background-color: rgb(77, 77, 248);
}

/* Footer styles */
footer {
    background-color: white;
    color: black;
    padding: 5px 0;
    font-family: 'Courier New', Courier, monospace;
    flex-shrink: 0;
}

.footer-container {
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); /* Divide into 3 columns */
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 20px;
    margin: 0;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.about {
    max-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.footer-logo {
    width: 100px;
    margin-bottom: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.footer-column p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-column ul li a:hover {
    text-decoration: underline;
}

.social-media a {
    color: black;
    margin-right: 10px;
    font-size: 20px;
}

.social-media a:hover {
    color: #0052FE;
}

.footer-bottom {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
    font-size: 16px;
    color: #0052FE;
    margin-top: 10px;
    font-weight: bold;
}

.footer-bottom p {
    margin: 0;
}

@media (max-width: 768px) {
    .nav-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navigation {
        flex-direction: column;
        align-items: flex-start;
    }

    .main-content {
        grid-template-columns: 1fr;
    }

    .footer-container {
        grid-template-columns: 1fr;
    }

    .logo {
        font-size: 14px; /* Smaller logo size for smaller screens */
    }

    .navigation li,
    .navigation select,
    .search-bar {
        padding: 5px; /* Smaller padding for navigation items */
        font-size: 12px; /* Smaller font size for navigation items */
    }

    .footer-column {
        text-align: center; /* Center-align footer items for smaller screens */
    }
}
